
.box:hover{
    box-shadow: 0 0 21px rgba(33,33,33,.2);
}

.nav {
    position: relative;
    /* background-color:  #27374D; */
    height: 80px;
    z-index: 999;


}

.nav_bar_fixed {
    position: fixed;
    top: inherit;
    background-color:  #27374D;
    height: inherit;
    width: 100%;
    
    
    

}

.ul {
    background-color: #27374D;
    height: inherit;
    display: flex;
    flex-direction: row;
    width: inherit;
    padding: 0%;
    gap: 4%;
    float: left;
    text-align: center;
    align-items: center;

    justify-content: space-around;


}

/* .nav_right ul {
    background-color:  #27374D;
    height: inherit;
    display: flex;
    flex: 100%;
    width: 35vw;
    padding: 3%;
    gap: 4%;
    justify-content: end;
    float: right;
    text-align: center;
} */

.a_1 {
    color: white;
}

.a_1:hover {
    color: #DDE6ED !important;
}

